{% extends 'app/base.html' %}


{% load static %}
{% block titulo %}
Poliuretano
{% endblock titulo %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/aprender/styles.css' %} ">
<script type="text/javascript" src="{% static 'app/js/aprender/scripts.js' %}"></script>
{% endblock %}
{% block contenido %}



<div class="page-header page-header-dark bg-img-cover py-15"
    style='background-image: url("{% static "app/img/aprender/poliuretano_1.jpg" %}")'>
    <div class="my-15 py-lg-10"></div>
    <div class="svg-border-rounded text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
            fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
    </div>
</div>
<section class="bg-light py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1>Poliuretano</h1>
                <p class="lead">Es un polímero que se obtiene de bases hidroxílicas combinadas con diisocianatos.</p>
                <hr />
                <p>Es un material plástico que se presenta en varias formas y que puede fabricarse para que sea rígido o
                    flexible. Es un material presente en una amplia gama de aplicaciones comerciales tales como:
                    Aislante para neveras y congeladores.</p>
                <p class="mb-0">Además es muy versátil y moldeable, resultado de la reacción química de dos
                    elementos, poliol e isocianato. Es muy resistente, de muy baja conductividad térmica, y se puede
                    utilizar en estado sólido, líquido o en forma de espuma.</p>
            </div>
            <div class="col-lg-10 "><img class="img-fluid rounded-lg shadow my-5"
                    src="{% static 'app/img/aprender/poliuretano_4.jpg' %}" /></div>
            <div class="col-lg-8">

                <h4>¿Para qué se utilizan los poliuretanos?</h4>
                <p>Los poliuretanos cuentan con cientos de aplicaciones. La versatilidad del material es tal que puede
                    encontrarse en casi cualquier ámbito, desde aislantes para techos hasta tablas de surf, y no dejan
                    de descubrirse nuevas formas de aprovecharlo, por lo que la lista de aplicaciones no deja de crecer.
                </p>
                <h4>¿Cuál es la durabilidad del poliuretano?</h4>
                <p>El poliuretano normalmente supera en durabilidad al producto en el que se utiliza, además dependerá
                    de la aplicación y del tipo de empleo que se le dé. En circunstancias de desgaste normales, se puede
                    esperar una durabilidad de:
                </p>
                <ul class="fa-ul">
                    <li class="mb-3"><span class="fa-li"></span><i class="fa-solid fa-circle fa-2xs text-green"></i> Más
                        de 50 años en productos aislantes para construcción.</li>
                    <li class="mb-3"><span class="fa-li"></span><i class="fa-solid fa-circle fa-2xs text-green"></i> Más
                        de 25 años en neveras.</li>
                    <li class="mb-3"><span class="fa-li"></span><i class="fa-solid fa-circle fa-2xs text-green"></i> Más
                        de 20 años en parachoques.</li>
                </ul>
            </div>
            <div class="col-lg-10">
                <div class="card-columns card-columns-case-study mb-5">
                    <div class="card"><img class="img-fluid rounded-lg"
                            src="{% static 'app/img/aprender/poliuretano_2.jpg' %}" /></div>
                    <div class="card"><img class="img-fluid rounded-lg"
                            src="{% static 'app/img/aprender/poliuretano_3.jpg' %}" /></div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card bg-primary-soft text-primary text-center mb-5">
                    <div class="card-body">
                        <p class="card-text lead">"Su uso cumple otra interesante función: la de fortalecer la
                            estructura de la edificación, por lo que resistirá mejor a las vibraciones, viento,
                            tormentas, etc."</p>
                    </div>
                </div>
                <h4>¿Son caros los poliuretanos?</h4>
                <p>No, una de las grandes ventajas de los poliuretanos es su asequibilidad. La razón de su creciente
                    popularidad radica en sus múltiples atributos positivos, y su asequibilidad es uno de los más
                    importantes. El precio de los poliuretanos debe considerarse en función de sus prestaciones y de lo
                    ahorrado a lo largo de su vida útil. En términos de coste, los poliuretanos son muy competitivos.
                </p>
                <p>Es por esto que les mostramos sus mayores ventajas:</p>
                <ul class="fa-ul">
                    <li class="mb-3"><span class="fa-li"></span><i class="fas fa-check mr-2 text-green"></i> Gran poder
                        aislante.</li>
                    <li class="mb-3"><span class="fa-li"></span><i class="fas fa-check mr-2 text-green"></i> Confiere
                        rigidez estructural</li>
                    <li class="mb-3"><span class="fa-li"></span><i class="fas fa-check mr-2 text-green"></i> Sella
                        fisuras, grietas y asegurar un sellado hermético.
                    </li>
                    <li><span class="fa-li"></span><i class="fas fa-check mr-2 text-green"></i> Es un
                        aislante continuo sin junta.</li>
                    <li class="mb-3"><span class="fa-li"></span><i class="fas fa-check mr-2 text-green"></i> Tiene un
                        elevado poder termo-aislante.
                    </li>
                    <li class="mb-3"><span class="fa-li"></span><i class="fas fa-check mr-2 text-green"></i> No
                        comestible por plagas o roedores
                    </li>
                    <li class="mb-3"><span class="fa-li"></span><i class="fas fa-check mr-2 text-green"></i> No absorbe
                        la humedad ambiental.
                    </li>
                    <li class="mb-3"><span class="fa-li"></span><i class="fas fa-check mr-2 text-green"></i> Disminución
                        de la mortandad en criaderos por cambios de
                        temperatura.
                    </li>
                </ul>
                <hr class="my-5" />

            </div>
        </div>
    </div>
</section>

{% endblock %}