<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'app/css/aplastica.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/all.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/fontawesome.css' %} ">


    {% block css %}
    {% endblock %}


    <title>Arte Plastica | {% block titulo %}{% endblock titulo %} </title>



<body>

    {% block contenido %}
    {% endblock %}
</body>

<!--------------------------------------------------------------------
---------------------------FOOTER-----------------------------------
-------------------------------------------------------------------->

<footer class=" pt-5 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <img id="logo-footer" src="{% static 'app/img/logo.png' %}" alt="">
                </a>
            </div>
            <div class="col">
                <p>Arteplástica es una empresa chilena dedicada a la producción y comercialización de materias primas
                    para la
                    industria del plástico (F.R.P). La empresa tiene cobertura nacional, la cual se materializa en
                    Santiago y
                    regiones.</p>
            </div>
            <div class="col">
                <h2>Contáctanos</h2>
                <div>
                    <span href=""><i aria-hidden="true" class="fas fa-map-marker-alt mr-2"></i> Portugal 1230 - Santiago
                        Centro</span>
                </div>

                <div>
                    <a href=""><i aria-hidden="true" class="fas fa-mail-bulk mr-2"></i> ventas@arteplastica.cl</a>
                </div>
                <div class="contact-info mt-3">
                    <i aria-hidden="true" class="fas fa-phone-alt"></i>
                    <div class="contact-text">
                        <p>2 2544 2617 - 2 2551 2912</p>
                        <p>2 2544 3015</p>
                    </div>
                </div>
                <h2>Síguenos</h2>
                <div class="social-media mt-4">
                    <a href="">
                        <i class="fab fa-facebook ml-3"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram ml-4"></i>
                    </a>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    {% block payment-gateway %} {% endblock payment-gateway %}
</footer>
<!-- Optional JavaScript -->
<!-- Sweet Alert-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for m in messages %}
<script>
    Swal.fire({
        "title": "Felicitaciones",
        "text": "{{m}}",
        "icon": "success"
    })
</script>
{% endfor %}
{% endif %}
<!-- Sweet Alert-->
<script type="text/javascript" src="{% static 'app/js/script.js' %}"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="{% static 'app/js/jquery-3.7.0.min.js' %}"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script type="text/javascript" src="{% static 'app/js/bootstrap.js' %}"></script>
<script src="https://kit.fontawesome.com/7e3f5de39d.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'app/js/all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/carrito.js' %}"></script>

</html>