<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'app/css/aplastica.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/all.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/fontawesome.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/stylish-portfolio.css' %} ">

    {% block css %}
    {% endblock %}


    <title>Arte Plastica | {% block titulo %}{% endblock titulo %} </title>

    <!-- INICIO Barra de navegacion -->

    <div class="container-fluid">
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

            <!-- Brand Logo -->
            <img id="logo" class="logo navbar-brand" src="{% static 'app/img/logo.png' %}" alt=""></a>

            <!-- Button for Collapsible Navbar -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item mr-3">
                        <a class="nav-link" {% block linkactivo_inicio %}{% endblock linkactivo_inicio %}
                            href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" {% block linkactivo_empresa %}{% endblock linkactivo_empresa %}
                            href="{% url 'empresa' %}">Empresa</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" {% block linkactivo_postular %}{% endblock linkactivo_postular %}
                            href="{% url 'postulacion' %}">Postular</a>
                    </li>
                    <li class=" nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" id="profileDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Productos <i
                                class="fas fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'categoria' 'AC' %}" class="dropdown-item nav-link">Acelerantes</a></li>
                            <li><a href="{% url 'categoria' 'AD' %}" class="dropdown-item nav-link">Aditivos</a></li>
                            <li><a href="{% url 'categoria' 'CT' %}" class="dropdown-item nav-link">Catalizadores</a>
                            </li>
                            <li><a href="{% url 'categoria' 'CA' %}" class="dropdown-item nav-link">Cargas</a></li>
                            <li><a href="{% url 'categoria' 'EP' %}" class="dropdown-item nav-link">Epóxicos</a></li>
                            <li><a href="{% url 'categoria' 'FV' %}" class="dropdown-item nav-link">Fibras de vidrio</a>
                            </li>
                            <li><a href="{% url 'categoria' 'GC' %}" class="dropdown-item nav-link">Gel Coat</a></li>
                            <li><a href="{% url 'categoria' 'PO' %}" class="dropdown-item nav-link">Poliuretano</a></li>
                            <li><a href="{% url 'categoria' 'RE' %}" class="dropdown-item nav-link">Resinas</a></li>
                            <li><a href="{% url 'categoria' 'SV' %}" class="dropdown-item nav-link">Solventes</a></li>
                        </ul>
                    </li>
                    <li class=" nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" id="profileDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Aprende con nosotros <i
                                class="fas fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'cargas' %}" class="dropdown-item nav-link">Que son las cargas?</a></li>
                            <li><a href="{% url 'resina_epoxica' %}" class="dropdown-item nav-link">Conociendo la resina
                                    epóxica</a></li>
                            <li><a href="{% url 'fibra_vidrio' %}" class="dropdown-item nav-link">La fibra de vidrio</a>
                            </li>
                            <li><a href="{% url 'gel_coat' %}" class="dropdown-item nav-link">El Gel Coat</a>
                            </li>
                        </ul>
                    </li>

                    {% if perms.app.view_postulacion %}
                    <li class=" nav-item mr-3">
                        <a class="nav-link" {% block linkactivo_lista %}{% endblock linkactivo_lista %}
                            href="{% url 'listar_postulaciones' %}">Listar postulaciones</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" id="profileDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Bienvenido @{{ user.username }} <i
                                class="fas fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'perfil' %}" class="dropdown-item nav-link">Perfil</a></li>
                            <li><a href="{% url 'passwordchange' %}" class="dropdown-item nav-link">Cambiar
                                    contraseña</a>
                            </li>
                            <li><a href="{% url 'logout' %}" class="dropdown-item nav-link">Cerrar sesión</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <!-- FIN Barra de navegacion -->


    <!-- INICIO Contenido -->

<body>

    {% block contenido %}
    {% endblock %}
</body>

<!-- FIN Contenido -->

<!-- INICIO Footer -->

<footer class=" pt-5 pb-5" style="margin-top: 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <img id="logo-footer" src="{% static 'app/img/logo.png' %}" alt="">
                </a>
            </div>
            <div class="col">
                <p>Arteplástica es una empresa chilena dedicada a la producción y comercialización de materias primas
                    para la
                    industria del plástico (F.R.P). La empresa tiene cobertura nacional, la cual se materializa en
                    Santiago y
                    regiones.</p>
            </div>
            <div class="col">
                <h2>Contáctanos</h2>
                <div>
                    <span href=""><i aria-hidden="true" class="fas fa-map-marker-alt mr-2"></i> Portugal 1230 - Santiago
                        Centro</span>
                </div>

                <div>
                    <a href=""><i aria-hidden="true" class="fas fa-mail-bulk mr-2"></i> ventas@arteplastica.cl</a>
                </div>
                <div class="contact-info mt-3">
                    <i aria-hidden="true" class="fas fa-phone-alt"></i>
                    <div class="contact-text">
                        <p>2 2544 2617 - 2 2551 2912</p>
                        <p>2 2544 3015</p>
                    </div>
                </div>
                <h2>Síguenos</h2>
                <div class="social-media mt-4">
                    <a href="">
                        <i class="fab fa-facebook ml-3"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram ml-4"></i>
                    </a>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    {% block payment-gateway %} {% endblock payment-gateway %}
</footer>

<!-- FIN Footer -->


<!-- Optional JavaScript -->
<!-- Sweet Alert-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for m in messages %}
<script>
    Swal.fire({
        "title": "Felicitaciones",
        "text": "{{m}}",
        "icon": "success"
    })
</script>
{% endfor %}
{% endif %}
<!-- Sweet Alert-->
<script type="text/javascript" src="{% static 'app/js/script.js' %}"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="{% static 'app/js/jquery-3.7.0.min.js' %}"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script type="text/javascript" src="{% static 'app/js/bootstrap.js' %}"></script>
<script src="https://kit.fontawesome.com/7e3f5de39d.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'app/js/all.min.js' %}"></script>



</html>