{% extends 'app/base.html' %}


{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/perfil.css' %} ">
{% endblock %}
{% block titulo %}
Perfil @{{ user.username }}
{% endblock titulo %}
{% load crispy_forms_tags %}

{% block contenido %}

<!--------------------------------------------------------------------
---------------------------HEADER-----------------------------------
-------------------------------------------------------------------->
<div class="container-fluid">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

        <!-- Brand Logo -->
        <img id="logo" class="logo navbar-brand" src="{% static 'app/img/logo.png' %}" alt=""></a>

        <!-- Button for Collapsible Navbar -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'home' %}">INICIO</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'empresa' %}">EMPRESA</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'postulacion' %}"">POSTULAR</a>
                </li>
                <li class=" nav-item dropdown">
                        <a href="" id="inicio" class="nav-link dropdown-toggle" id="profileDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">PRODUCTOS <i
                                class="fas fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'categoria' 'AC' %}" class="dropdown-item nav-link">Acelerantes</a></li>
                            <li><a href="{% url 'categoria' 'AD' %}" class="dropdown-item nav-link">Aditivos</a></li>
                            <li><a href="{% url 'categoria' 'CT' %}" class="dropdown-item nav-link">Catalizadores</a>
                            </li>
                            <li><a href="{% url 'categoria' 'CA' %}" class="dropdown-item nav-link">Cargas</a></li>
                            <li><a href="{% url 'categoria' 'EP' %}" class="dropdown-item nav-link">Epóxicos</a></li>
                            <li><a href="{% url 'categoria' 'FV' %}" class="dropdown-item nav-link">Fibras de vidrio</a>
                            </li>
                            <li><a href="{% url 'categoria' 'GC' %}" class="dropdown-item nav-link">Gel Coat</a></li>
                            <li><a href="{% url 'categoria' 'PO' %}" class="dropdown-item nav-link">Poliuretano</a></li>
                            <li><a href="{% url 'categoria' 'RE' %}" class="dropdown-item nav-link">Resinas</a></li>
                            <li><a href="{% url 'categoria' 'SV' %}" class="dropdown-item nav-link">Solventes</a></li>
                        </ul>
                </li>
                {% if perms.app.view_postulacion %}
                <li class=" nav-item mr-3">
                    <a class="nav-link" href="{% url 'listar_postulaciones' %}">LISTAR POSTULACIONES</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" id="profileDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Bienvenido @{{ user.username }} <i
                            class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="" class="dropdown-item nav-link">Perfil</a></li>
                        <li><a href="" class="dropdown-item nav-link">Ordenes</a></li>
                        <li><a href="" class="dropdown-item nav-link">Cambiar contraseña</a></li>
                        <li><a href="{% url 'logout' %}" class="dropdown-item nav-link">Cerrar sesión</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'login' %}">INICIAR SESIÓN</a>
                </li>
                {% endif %}
                <li class=" nav-item mr-3">
                    <a class="nav-link" href="">Cart 4</a>
                </li>
                <li class=" nav-item mr-3">
                    <a class="nav-link" href="">Whishlist 4</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- contenido -->

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                        class="font-weight-bold">{{request.user}}</span><span
                        class="text-black-50">{{request.user.email}}</span><span> </span></div>
                <br>
                <div class="mt-2 text-center"><a href="{% url 'perfil' %}" class="btn btn-primary profile-button"
                        type="button">Perfil</a></div>
                <div class="mt-2 text-center"><a href="{% url 'direccion' %}" class="btn btn-primary profile-button"
                        type="button">Direccion</a>
                </div>
            </div>
            <div class="col-md-7 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Configuración del perfil</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for ad in add %}
                            <div class="col-sm-6">
                                <div class="card m-2">
                                    <div class="card-body">
                                        <h3>Direccion {{forloop.counter}}</h3>
                                        <p>Nombre {{ad.nombre}}</p>
                                        <p>Region {{ad.region}}</p>
                                        <p>Ciudad {{ad.ciudad}}</p>
                                        <p>Comuna {{ad.comuna}}</p>
                                        <p>Direccion {{ad.direccion}}</p>
                                        <p>Telefono {{ad.telefono}}</p>
                                        <p>Codigo Postal {{ad.codigo_postal}}</p>
                                        <p class="text-center"><a href="{% url 'actualizarDireccion' pk=ad.id %}"
                                                type="button" class="btn btn-success">Actualizar</a></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>





    <!-- contenido -->

</div>















{% endblock %}