{% extends 'app/base.html' %}


{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/perfil.css' %} ">
{% endblock %}
{% block titulo %}
Perfil @{{ user.username }}
{% endblock titulo %}
{% load crispy_forms_tags %}

{% block contenido %}



<!-- contenido -->

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                    class="font-weight-bold">{{request.user}}</span><span
                    class="text-black-50">{{request.user.email}}</span><span> </span></div>
            <br>
            <div class="mt-2 text-center"><a href="{% url 'perfil' %}" class="btn btn-primary profile-button"
                    type="button">Perfil</a></div>
            <div class="mt-2 text-center"><a href="{% url 'direccion' %}" class="btn btn-primary profile-button"
                    type="button">Direccion</a>
            </div>
        </div>
        <div class="col-md-7 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Configuración del perfil</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for ad in add %}
                        <div class="col-sm-6">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h3>Direccion {{forloop.counter}}</h3>
                                    <p>Nombre {{ad.nombre}}</p>
                                    <p>Region {{ad.region}}</p>
                                    <p>Ciudad {{ad.ciudad}}</p>
                                    <p>Comuna {{ad.comuna}}</p>
                                    <p>Direccion {{ad.direccion}}</p>
                                    <p>Telefono {{ad.telefono}}</p>
                                    <p>Codigo Postal {{ad.codigo_postal}}</p>
                                    <p class="text-center"><a href="{% url 'actualizarDireccion' pk=ad.id %}"
                                            type="button" class="btn btn-success">Actualizar</a></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>





<!-- contenido -->
















{% endblock %}