{% extends 'app/base.html' %}


{% load static %}

{% block titulo %}
Inicio
{% endblock titulo %}
{% block linkactivo_inicio %}id="inicio"{% endblock linkactivo_inicio %}

{% block contenido %}



<!-- contenido -->

<!-- Full Page Image Header Area -->
<div id="top" class="header">
</div>
<!-- /Full Page Image Header Area -->

<div class="calloutzero">
    <div class="vert-text text-dark">
        <h1>Orientamos en las siguientes áreas</h1>
    </div>
</div>

<!-- Callout -->
<div class="calloutone">
    <div class="vert-text">
        <h1>Piscinas</h1>
        <p><span style="font-weight: 400;">Estructuralmente reforzadas con una mezcla de resina de poliéster y
                fibra de vidrio de alta resistencia. Esta
                mezcla garantiza </span><b>impermeabilidad</b><span style="font-weight: 400;">y <b>durabilidad</b> mayor
                a 50 años. Siendo así las más
                resistentes dentro del mercado.</span></p>
    </div>
</div>

<div class="callouttwo">
    <div class="vert-text">
        <h1>Transporte</h1>
        <p><span style="font-weight: 400;">Incorporándose a las </span><b>nuevas tecnologías</b><span
                style="font-weight: 400;"> de fabricación dentro del mercado automotriz. Reforzamos y creamos piezas
                exclusivamente en fibra de vidrio debido a su alta resistencia a la </span><b>tracción</b><span
                style="font-weight: 400;"> proporcionando una mejor funcionalidad del vehículo.</span></p>
    </div>
</div>

<div class="calloutthree">
    <div class="vert-text">
        <h1>Mineria</h1>
        <p><span style="font-weight: 400;">Incorporándose a las </span><b>nuevas tecnologías</b><span
                style="font-weight: 400;"> de fabricación dentro del mercado automotriz. Reforzamos y creamos piezas
                exclusivamente en fibra de vidrio debido a su alta resistencia a la </span><b>tracción</b><span
                style="font-weight: 400;"> proporcionando una mejor funcionalidad del vehículo.</span></p>
    </div>
</div>

<div class="calloutfour">
    <div class="vert-text">
        <h1>Aeronáutica</h1>
        <p><span style="font-weight: 400;">Restauración y creación de piezas a base de </span><b>poliéster</b><span
                style="font-weight: 400;"> y </span><b>fibra de vidrio.</b><span style="font-weight: 400;"> Cuyo peso es
                menor a los materiales convencionales, anticorrosivo y más eficaz en cuanto a resistencia y
                calidad.</span></p>
    </div>
</div>

<div class="calloutfive">
    <div class="vert-text">
        <h1>Química</h1>
        <p><span style="font-weight: 400;">Entregamos las mejores soluciones en la fabricación de herramientas para
                laboratorios, nuestros materiales proporcionan estabilidad. Ya que la fibra de vidrio es un aislante
                térmico, eléctrico y anticorrosivo, de suma ligereza.</span></p>
    </div>
</div>

<div class="calloutsix">
    <div class="vert-text">
        <h1>Mineria</h1>
        <p><span style="font-weight: 400;">Incorporándose a las </span><b>nuevas tecnologías</b><span
                style="font-weight: 400;"> de fabricación dentro del mercado automotriz. Reforzamos y creamos piezas
                exclusivamente en fibra de vidrio debido a su alta resistencia a la </span><b>tracción</b><span
                style="font-weight: 400;"> proporcionando una mejor funcionalidad del vehículo.</span></p>
    </div>
</div>

<div class="calloutseven">
    <div class="vert-text">
        <h1>Construcción
        </h1>
        <p><span style="font-weight: 400;">Ofrecemos una innovadora solución en la prevención y reparación de grietas,
                fisuras y en el armado de los revoques. Sus propiedades inalterables permiten que sean aplicadas también
                como refuerzo en los </span><b>pisos, micropisos y alisados cementicios,</b><span
                style="font-weight: 400;">sistemas de </span><b>aislación térmica.</b></p>
    </div>
</div>

<div class="calloutzero">
    <div class="vert-text text-dark">
        <h2>Productos con múltiples aplicaciones para distintos rubros </h2>
    </div>
</div>
<!-- /Callout -->


<section style="background-image: url({% static 'app/img/fondo-min-1.png' %});">
    <div class="text-center container py-5">
        <h1 class="mt-4 mb-5"><strong>Productos Destacados</strong></h4>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card-transparent">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="{% static 'app/img/img1.png' %}" class="w-100" />
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5><a class="badge bg-primary ms-2" href="{% url 'categoria' 'RE' %}">Resinas</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-3">Palatal P4</h5>
                            <h6 class="text-muted">
                                <p>Resina</p>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card-transparent">
                        <div class="bg-image hover-zoom">
                            <img src="{% static 'app/img/img2.png' %}" class="w-100" />

                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5><a class="badge bg-success ms-2"
                                            href="{% url 'categoria' 'CT' %}">Catalizadores</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-3">Catalizador Benzoilo</h5>
                            <h6 class="text-muted">
                                <p>Catalizador</p>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card-transparent">
                        <div class="bg-image hover-zoom">
                            <img src="{% static 'app/img/img3.png' %}" class="w-100" />

                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5><a class="badge bg-danger ms-2" href="{% url 'categoria' 'FV' %}">Fibra de
                                            vidrio</a></h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-3">Velo de Vidrio</h5>
                            <h6 class="text-muted">
                                <p>Fibra de vidrio</p>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card-transparent">
                        <div class="bg-image">
                            <img src="{% static 'app/img/img4.png' %}" class="w-100" />
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5><a class="badge bg-danger ms-2" href="{% url 'categoria' 'FV' %}">Fibra de
                                            vidrio</a></h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-3">Tela de Vidrio</h5>
                            <h6 class="text-muted">
                                <p>Fibra de vidrio</p>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card-transparent">
                        <div class="bg-image">
                            <img src="{% static 'app/img/img5.png' %}" class="w-100" />
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5><a class="badge bg-danger ms-2" href="{% url 'categoria' 'FV' %}">Fibra de
                                            vidrio</a></h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-3">Roving continuo</h5>
                            <h6 class="text-muted">
                                <p>Fibra de vidrio</p>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card-transparent">
                        <div class="bg-image">
                            <img src="{% static 'app/img/img6.png' %}" class="w-100" />

                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5><a class="badge bg-danger ms-2" href="{% url 'categoria' 'FV' %}">Fibra de
                                            vidrio</a></h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-3">Velo de Vidrio</h5>
                            <h6 class="text-muted">
                                <p>Fibra de vidrio</p>
                            </h6>
                        </div>
                    </div>
                </div>


            </div>
    </div>
    <div class="text-center container py-5">
        <h1 class="mt-4 mb-5"><strong>Te invitamos a conocer nuestra casa matriz !</strong></h1>
    </div>
</section>
<!-- Map -->

<div id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.6536647564385!2d-70.6352459879438!3d-33.458328597806094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c565efabe67f%3A0xd9742db52fbefd30!2sAv.%20Portugal%201230%2C%208360012%20Santiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1686548299696!5m2!1ses-419!2scl"></iframe>
    <br />
    </iframe>
</div>

<!-- /Map -->

<!-- contenido -->







{% endblock %}