{% extends 'app/base.html' %}


{% load static %}

{% block contenido %}

<!--------------------------------------------------------------------
---------------------------HEADER-----------------------------------
-------------------------------------------------------------------->
<div class="container-fluid">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

        <!-- Brand Logo -->
        <img id="logo" class="logo navbar-brand" src="{% static 'app/img/logo.png' %}" alt=""></a>

        <!-- Button for Collapsible Navbar -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item mr-3">
                    <a class="nav-link" id="inicio" href="{% url 'home' %}">INICIO</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'empresa' %}">EMPRESA</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'postulacion' %}"">POSTULAR</a>
                </li>
                {% if perms.app.view_postulacion %}
                <li class=" nav-item mr-3">
                        <a class="nav-link" href="{% url 'listar_postulaciones' %}"">LISTAR POSTULACIONES</a>
                </li>   
                {% endif %}
                {% if user.is_authenticated %}      
                <li class=" nav-item mr-3">
                            <a class="nav-link" href="{% url 'logout' %}">CERRAR SESIÓN</a>
                </li>
                <li class=" nav-item mr-3">
                    <a class="nav-link" href="{% url 'login' %}">Bienvenido @{{ user.username }}</a>
                </li>
                {% else %}
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'login' %}">INICIAR SESIÓN</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

<!--Carousel-->
<div class="col-md">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'app/img/1-carousel.png' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>PISCINAS</h5>
                    <p>Estructuralmente reforzadas con una mezcla de resina de poliéster y fibra de vidrio de
                        alta resistencia. Esta mezcla garantiza impermeabilidad y durabilidad mayor a 50 años.
                        Siendo así las más resistentes dentro del mercado.</p>
                </div>
            </div>
            <div class="carousel-item ">
                <img src="{% static 'app/img/2-carousel.png' %}" class="d-block w-100" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>TRANSPORTE</h5>
                    <p>Incorporándose a las nuevas tecnologías de fabricación dentro del mercado automotriz.
                        Reforzamos y creamos piezas exclusivamente en fibra de vidrio debido a su alta
                        resistencia a la tracción proporcionando una mejor funcionalidad del vehículo.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/img/3-carousel.png' %}" class="d-block w-100" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>MINERÍA</h5>
                    <p>Contamos con una alta gama de productos a base de fibra de vidrio, resinas y poliéster
                        para así enfocarnos en toda la industria de la minería. Asesoramos, fabricamos y
                        solucionamos. Mejorando así la calidad y productividad dentro de este rubro.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<section style="background-image: url({% static 'app/img/fondo-min-1.png' %});">
    <div class="text-center container py-5">
        <h4 class="mt-4 mb-5"><strong>Productos Destacados</strong></h4>

        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card-transparent">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="{% static 'app/img/img1.png' %}" class="w-100" />
                        <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                                <h5><span class="badge bg-primary ms-2">Resinas</span></h5>
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-3">Palatal P4</h5>
                        <h6 class="text-muted">
                            <p>Resina</p>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card-transparent">
                    <div class="bg-image">
                        <img src="{% static 'app/img/img2.png' %}" class="w-100" />

                        <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                                <h5><span class="badge bg-success ms-2">Catalizadores</span></h5>
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-3">Catalizador Benzoilo</h5>
                        <h6 class="text-muted">
                            <p>Catalizador</p>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card-transparent">
                    <div class="bg-image">
                        <img src="{% static 'app/img/img3.png' %}" class="w-100" />

                        <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                                <h5><span class="badge bg-danger ms-2">Fibra de vidrio</span></h5>
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-3">Velo de Vidrio</h5>
                        <h6 class="text-muted">
                            <p>Fibra de vidrio</p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card-transparent">
                    <div class="bg-image">
                        <img src="{% static 'app/img/img4.png' %}" class="w-100" />
                        <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                                <h5><span class="badge bg-danger ms-2">Fibra de vidrio</span></h5>
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-3">Tela de Vidrio</h5>
                        <h6 class="text-muted">
                            <p>Fibra de vidrio</p>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card-transparent">
                    <div class="bg-image">
                        <img src="{% static 'app/img/img5.png' %}" class="w-100" />
                        <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                                <h5><span class="badge bg-danger ms-2">Fibra de vidrio</span></h5>
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-3">Roving continuo</h5>
                        <h6 class="text-muted">
                            <p>Fibra de vidrio</p>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card-transparent">
                    <div class="bg-image">
                        <img src="{% static 'app/img/img6.png' %}" class="w-100" />

                        <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                                <h5><span class="badge bg-danger ms-2">Fibra de vidrio</span></h5>
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-3">Velo de Vidrio</h5>
                        <h6 class="text-muted">
                            <p>Fibra de vidrio</p>
                        </h6>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>







{% endblock %}