{% extends 'app/base.html' %}

{% block titulo %}
Revisar Postulaciones
{% endblock titulo%}
{% block linkactivo_lista %}id="inicio"{% endblock linkactivo_lista %}

{% block contenido %}
{% load static %}
{% load crispy_forms_tags %}

<br>
<br>
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card-body">
            <h2>Revisar Postulacion</h2>
            <hr>
            <form action="" method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                {{ form | crispy}}

                <div class="d-flex justify-content-end">
                    <a href="{% url 'listar_postulaciones' %}" class="btn btn-success btn-lg">Terminar</a>
                    &nbsp;
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>

{% endblock %}