{% extends 'app/base.html' %}


{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/tienda.css' %} ">
{% endblock %}
{% block titulo %}
Categoria
{% endblock titulo %}
{% block linkactivo %}id="inicio"{% endblock linkactivo %}

{% block contenido %}



<!-- contenido -->
<br>
<div class="container">
    <div class="col-lg-8 border p-3 main-section bg-white">
        <div class="row hedding m-0 pl-3 pt-0 pb-3">
            <h1>{{producto}}</h1>
        </div>
        <div class="row m-0">
            <div class="col-lg-4 left-side-product-box pb-3">
                <img src="{{producto.imagen_producto.url}}" style="width: 100%; display: block; margin: auto;"
                    class=" border p-3">
            </div>
            <div class="col-lg-8">
                <div class="right-side-pro-detail border p-3 m-0">
                    <div class="row">
                        <div class="col-lg-12 pt-2">
                            <h5>Detalle del producto:</h5>
                            <span>{{producto.descripcion}}</span>
                            <hr class="m-0 pt-2 mt-2">
                        </div>

                        <div class="col-lg-12 mt-3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="{% url 'home' %}" class="btn btn-danger w-100">Volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- contenido -->
















{% endblock %}